@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* HTML Section code  */


.product_page_container{
    display: flex;

}
.product_tab_container{
    background-color: #ffffff;
    width: 20%;
    height: auto;
}
.product_content_container{
    background-color: #f3f2f7;
    width: 80%;
    height: auto;
}


/* Admin panal tags section */

.product_tab_container img{
    width: 200px;
    height: 100px;
    margin: 50px 0 0 50px;
}
.product_tab_container h4{
    margin: 10px 0 0 50px;
}
.product_tab_container .admin_tabs{
   margin-top: 50px;
}
.div-tab{
    display: flex;
    width: 200px;
    height: 30px;
}
.div-tabText{
    width: 100px;
    margin: 5px 0 0 30px
}
.div-tabIMG img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 20px;
    
}
.product_tab_container .admin_tabs button{
    width: 200px;
    height: 50px;
    margin: 0 0 10px 50px;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.product_tab_container .admin_tabs .active-btn{
    color: #00b074;
    background-color: #d9f3ea;
    border-radius: 10px;
    border: none;
} 

.Green-div{
    width: 275px;
    height: 170px;
    margin: 50px 0 0 5px;
    background-color: #00b074;
    display: flex;
    border-radius: 10px;

}
.green-div-content p{
    width: 150px;
    height: auto;
    margin: 20px 0 20px 20px;
    font-size: 14px;
    color: #ffffff;
}
.green-div-content button{
    width: 100px;
    height: 30px;
    color: #000000;
    background-color: #ffffff;
    margin: 20px 0px 20px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.green-div-img img{
    width: 70px;
    height: 100px;
    margin: 20px 20px 20px 10px;
}
.div-copyright h5{
    font-size: 10px;
    margin-left: 5px;
}
.div-copyright p{
    margin-left: 5px;
    margin-top: -10px;
    font-size: 10px;
}

/* search bar section */

.search-tabs-container{
    display: flex;
    margin: 30px 0 0 50px;
}
.search-bar{
    width: 700px;
}
.search-bar input{
    width: 650px;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
}
.search-bar button{
    width: 40px;
    height: 40px;
    display: block;
    margin-top: -40px;
    cursor: pointer;
    margin-left: 600px;

    
}

.search-tabs-icons{
    display: flex;
    gap: 20px;
}
.icon-noti-value img{
    width: 40px;
    height: 40px;
}

.vertical-divbar{
    width: 1px;
    height: 50px;
    background-color: #686767;
    margin: 0 20px 0 20px;
}
.user-indicator{
    display: flex;
}
.user-indicator span{
    font-weight: bolder;
    color: #000000;
}
.user-indicator .image-div{
    width: 60px;
    height: 60px;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 50%;
}
.user-indicator .image-div img{
    width: 50px;
    height: 50px;
    margin: 5px ;
    border-radius: 50%;
    
    
}