@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* HTML Section code  */


.product_page_container{
    display: flex;

}
.product_tab_container{
    background-color: #ffffff;
    width: 20%;
    height: auto;
}
.product_content_container{
    background-color: #f3f2f7;
    width: 80%;
    height: auto;
}


/* Admin panal tags section */

.product_tab_container img{
    width: 200px;
    height: 100px;
    margin: 50px 0 0 50px;
}
.product_tab_container h4{
    margin: 10px 0 0 50px;
}
.product_tab_container .admin_tabs{
   margin-top: 50px;
}
.div-tab{
    display: flex;
    width: 200px;
    height: 30px;
}
.div-tabText{
    width: 100px;
    margin: 5px 0 0 30px
}
.div-tabIMG img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 20px;
    
}
.product_tab_container .admin_tabs button{
    width: 200px;
    height: 50px;
    margin: 0 0 10px 50px;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.product_tab_container .admin_tabs .active-btn{
    color: #00b074;
    background-color: #d9f3ea;
    border-radius: 10px;
    border: none;
} 

.Green-div{
    width: 275px;
    height: 170px;
    margin: 50px 0 0 5px;
    background-color: #00b074;
    display: flex;
    border-radius: 10px;

}
.green-div-content p{
    width: 150px;
    height: auto;
    margin: 20px 0 20px 20px;
    font-size: 14px;
    color: #ffffff;
}
.green-div-content button{
    width: 100px;
    height: 30px;
    color: #000000;
    background-color: #ffffff;
    margin: 20px 0px 20px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.green-div-img img{
    width: 70px;
    height: 100px;
    margin: 20px 20px 20px 10px;
}
.div-copyright h5{
    font-size: 10px;
    margin-left: 5px;
}
.div-copyright p{
    margin-left: 5px;
    margin-top: -10px;
    font-size: 10px;
}




/* Admin Dashboard Admin content */

/* search bar section */

.search-tabs-container{
    display: flex;
    margin: 30px 0 0 50px;
}
.search-bar{
    width: 700px;
}
.search-bar input{
    width: 650px;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
}
.search-bar button{
    width: 40px;
    height: 40px;
    display: block;
    margin-top: -40px;
    cursor: pointer;
    margin-left: 600px;

    
}

.search-tabs-icons{
    display: flex;
    gap: 20px;
}
.icon-noti-value img{
    width: 40px;
    height: 40px;
}

.vertical-divbar{
    width: 1px;
    height: 50px;
    background-color: #686767;
    margin: 0 20px 0 20px;
}
.user-indicator{
    display: flex;
}
.user-indicator span{
    font-weight: bolder;
    color: #000000;
}
.user-indicator .image-div{
    width: 60px;
    height: 60px;
    background-color: #fff;
    margin-left: 20px;
    border-radius: 50%;
}
.user-indicator .image-div img{
    width: 50px;
    height: 50px;
    margin: 5px ;
    border-radius: 50%;
    
    
}

/* Dashboard filer time period section */
.time_period-container{
    display: flex;
}
.div-dashboard{
    margin: 0px 0 0 50px;
    width: 700px;
}
.div-dashboard p{
    color: #686767;
    margin-top: -10px;
}
.div-dashboard h1{
    color: #5e5d5d;
    
}
.filter_period-container{
    display: flex;
    background-color: #fff;
    width: 350px;
    height: 90px;
    border-radius: 10px;
    margin: 20px 0 0 100px;
    
}
.div-image img{
    width: 50px;
    height: 50px;
    margin: 20px 0 0 20px;
}
.filter span{
    margin: 20px 0 0 25px;
    font-size: 20px;
    font-weight: bold;
    display: block;
    color: #5e5d5d;

}
.filter select{
    border: none;
    margin: 10px 0 0 20px;
    width: 220px;
}

/* Operation details */
.operation_detail_container{
    display: flex;
    margin-left: 20px;
}
.O_detail{
    display: flex;
    width: 260px;
    height: 170px;
    background-color: #fff;
    margin: 20px 0 0 35px;
    border-radius: 10px;
}
.O_image img{
    width: 70px;
    height: 70px;
    margin: 50px 0 0 40px;
}
.O_detail_container h1{
    font-size: 25px;
    margin: 50px 0 0 10px;
    display: block;
}
.O_detail_container p{
    font-size: 14px;
    margin: 10px 0 0 10px;
    color: #686767;
}




/* custormer reviwes section */

.herder-div h1{
    margin: 0 0 0 50px;
}
.herder-div p{
    margin: 10px 0 0 50px;
    color: #686767;
}

.custermer_review-container{
    width: auto;
    height: auto;
    margin-top: 50px;
}
.sliding-container-hero{
    display: flex;
    margin-left: 50px;
}
.sliding_content{
    display: flex;
    width: 300px;
    height: 200px;
    background-color: #fff;
    margin: 20px 50px 50px 0;
    border-radius: 10px;
}
.slider-content-IMG img{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin-right: -50px;
    margin-top: 10px;

}
.slider-content{
    width: 300px;
    display: block;
}
.slider-content h2, label, p{
    margin-left: 20px;

}
.slider-content p{
    font-size: 12px;

}
.slider-content label{
    font-size: 12px;
    color: #686767;
    margin-top: -30px;

}

/* sliding option */

.wrapper {
    width: 100%;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -50px;

  }
  .header_container{
    display: flex;
  }
  .sliding-btn .slider_btn {
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 50px;
    color: #043d05;
    margin: 0 0 0 13px ;
    
    
  }
  .silder_nav_btn{
    display: flex;
    margin-left: 90%;
  }
  .sliding-btn{
    width: 50px;
    height: 50px;
    background-color: #fff;
    margin: 5px;
    border-radius: 10px;
    
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 10px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin-left: 50px;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  
  .carousel .card {
    scroll-snap-align: start;
    list-style: none;
    cursor: pointer;
    padding-bottom: 10px;
    flex-direction: column;
    border-radius: 8px;
  }
  
  
  
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }