
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

body{
    background-color: #fdfbfa;
}

/* hero image */
div.heroSection{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

div.heroSection img{
    position: absolute;

}

div.heroSection img.leftTop{
    left: -60px;
    width: 20rem;
    height: 22rem;
}

div.heroSection img.rightTop{
    right: -80px;
    width: 15rem;
    height: 12rem;
    z-index: -10;
}

div.heroSection img.rightBottom{
    right: -110px;
    bottom: 0;
    width: 22rem;
    height: 20rem;
}

div.heroSection img.leftBottom{
    left: -50px;
    bottom: 0;
    width: 18rem;
    height: 15rem;
}

div.heroSection div.heroContent {
    text-align: center;
    margin: auto;
    width: 863px;
    height: 100vh;
}

div.heroText h1{
    width: 800px;
    margin: auto;
    font-size: 56px;
    padding: 1rem;
}

div.heroText h1 span{
    color: #FFC529;
}

div.heroText p{
    padding: 1rem;
}

div.heroForm{
    border:none;
    box-shadow: 0 0 5px 5px #ebebeb;
    text-align: left;
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

hr{
    background-color: #eeee;
    height: 2px;
    border: none;
}

div.heroForm div.options button{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 15%;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #ffdecf;
    color: #FE724C;
    font-weight: 600;
}

div.heroForm div.options button i{
    margin-right: 10px;
}

div.heroForm div.options{
    margin-left: 1rem;
}

div.heroForm input.location{
    width: 70%;
    padding-left: 3rem;
    margin-left: 0rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #f5f5f5;
    color: #9e9e9e;
}

div.heroForm button{
    width: 25%;
    height: 3rem;
    padding: 1rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.8rem;
    border-radius: 5px;
    border: none;
    background-color: #FE724C;
    color: white;
    font-weight: 600;
}

div.heroForm button i{
    padding-right: 6px;
}

div.form i.fa-location-dot{
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #FE724C;
    width: 1rem;
    height: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;
    left: 2rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

div.form form{
    display: flex;
    flex-direction: row;
}

/* sectionA */

div.sectionA{
    background-image: url("homeIMG/cover1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 20rem;

}

div.sectionA div.overlay{
    background-color: #FFC529;
    opacity: 54%;
    width: 100%;
    height: 20rem;
}

div.whiteback{
    background-color: #ffff;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3.4rem;
    width: 50%;
    padding: 2rem;
    height: 50%;
    position: relative;
    bottom:300px;
    display: flex;
    border-radius: 20px;
}

div.whiteback div{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    gap: 1rem;
}

div.whiteback div.white::after{
    content: "";
    width: 5px;
    height: 5rem;
    background-color: #ffc529;
}

div.whiteback div p{
    color: #fe724c;
    font-weight: 600;
    font-size: 1.5rem;
}

div.whiteback div div img{
    margin: 1rem;
    min-width: 5rem;
    max-width: 5rem;
}

/* sectionFreshDeals */



/* sectionHow */

div.sectionHow{
    background-color: #fdf6e9; 
    background-image: linear-gradient(#fdf6e9, #fdfbf9);
    text-align: center;
    padding: 4rem;
}

div.sectionHow div.text h2{
    color: #FE724C;
    font-size: 2.2rem;
}

div.sectionHow div.text p{
     padding: 2rem 8rem;
}

div.sectionHow div.images{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

div.sectionHow div.images img.how1,div.sectionHow div.images img.how3{
    width: 6rem;
    height: 6rem;
}

div.sectionHow div.images img.how2,div.sectionHow div.images img.how4{
    width: 8rem;
    height: 6rem;
}

div.sectionHow div.images h6{
    font-size: 1rem;
    padding: 1rem;
}

div.sectionHow div.images p{
    color: #9e9e9e;
}

div.sectionHow div.images div{
    width: 18rem;

}

/* sectionPopularItems */


/* sectionB */
