@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px; /* Added some margin for better spacing */
}

h1 {
    color: #FE724C;
    font-size: 40px;
    margin: 10px;
}

p {
    font-size: 20px;
    margin: 10px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%; /* Make the form groups full width */
}

label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="radio"] {
    padding: 10px;
    border: 2px solid #bab9b9;
    border-radius: 4px;
    width: 100%; /* Make the inputs full width */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    outline: none;
}

input[type="radio"] {
    width: auto; /* Make radio buttons smaller */
    margin-right: 10px; /* Space between radio and label */
}

input:focus {
    border-color: #FE724C; /* Highlight border on focus */
}

button {
    color: #fff;
    background-color: black;
    margin-top: 2rem;
    padding: 1rem;
    width: 15rem;
    font-size: 20px;
    border-radius: 2rem;
    cursor: pointer;
    border: none; /* Remove default border */
    transition: background-color 0.2s;
}

button:hover {
    background-color: #333; /* Darker background on hover */
}

#card-details {
    display: none; /* Hide by default */
    margin-top: 1rem;
}

.i {
    color: #FE724C;
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px; /* Smaller font size on smaller screens */
    }

    p {
        font-size: 18px; /* Smaller text on smaller screens */
    }

    button {
        font-size: 24px; /* Smaller button text on smaller screens */
    }
}
